/* /Layout/AppLayout.razor.rz.scp.css */
.h1[b-61j6ddf4tt] {
    display: flex;
    align-self: center;
    align-items: center;
}

.func-button[b-61j6ddf4tt] {
    flex-direction: row;
    gap: 9px;
    margin: auto;
}

header[b-61j6ddf4tt] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 56px;
}

.logo[b-61j6ddf4tt] {
    padding: 0 40px;
}

.app-grid[b-61j6ddf4tt] {
    display: grid;
    grid-template-rows: 5vh 87vh 5vh;
    min-height: inherit;
}
footer[b-61j6ddf4tt] {
    padding: 1.5rem 0;
    text-align: center;
}
/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-18dit8ew2h] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-18dit8ew2h] {
    flex: 1;
}

.sidebar[b-18dit8ew2h] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-18dit8ew2h] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-18dit8ew2h]  a, .top-row[b-18dit8ew2h]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-18dit8ew2h]  a:hover, .top-row[b-18dit8ew2h]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-18dit8ew2h]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-18dit8ew2h] {
        justify-content: space-between;
    }

    .top-row[b-18dit8ew2h]  a, .top-row[b-18dit8ew2h]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-18dit8ew2h] {
        flex-direction: row;
    }

    .sidebar[b-18dit8ew2h] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-18dit8ew2h] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-18dit8ew2h]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-18dit8ew2h], article[b-18dit8ew2h] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Pages/Home.razor.rz.scp.css */
.main[b-6ukghwtnhc] {
    text-align: center;
    padding: 5px 0;
}
/* /Pages/ItemCard.razor.rz.scp.css */
body[b-7jokw0205x] {
}
/* /Pages/Login.razor.rz.scp.css */
section[b-w46qpr291t] {
    margin: auto;
    gap: 18px;
}

.logo[b-w46qpr291t] {
    align-self: center;
    text-align: center;
}

.App[b-w46qpr291t] {
    font-size: 20px;
}

.login[b-w46qpr291t] {
    border-radius: 10px;
}


.login > *:focus-visible[b-w46qpr291t] {
    outline-color: #2bbee7;
}
/* /Pages/Storages.razor.rz.scp.css */
#products .section-heading[b-eapt9cx4p4] {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 80px;
}

#products .item[b-eapt9cx4p4] {
    margin-bottom: 30px;
}

    #products .item .thumb img[b-eapt9cx4p4] {
        width: 100%;
        overflow: hidden;
    }

    #products .item .down-content[b-eapt9cx4p4] {
        padding: 20px;
        position: relative;
        z-index: 3;
        border: 1px solid #6f42c1;
        border-radius: 20px;
    }

        #products .item .down-content h3[b-eapt9cx4p4] {
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 8px;
        }

        #products .item .down-content h3[b-eapt9cx4p4], p[b-eapt9cx4p4] {
            text-align: center;
        }

        #products .item .down-content .btn-div[b-eapt9cx4p4] {
            display: flex;
            justify-content: space-around;
        }

        #products .item .down-content span[b-eapt9cx4p4] {
            font-size: 18px;
            font-weight: 500;
            display: block;
        }

        #products .item .down-content ul.stars[b-eapt9cx4p4] {
            position: absolute;
            right: 0;
            top: 20px;
        }

            #products .item .down-content ul.stars li[b-eapt9cx4p4] {
                display: inline;
                font-size: 13px;
            }

    #products .item .thumb .hover-content[b-eapt9cx4p4] {
        position: absolute;
        z-index: 2;
        text-align: center;
        bottom: -60px;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        transition: all .5s;
    }

    #products .item .thumb:hover .hover-content[b-eapt9cx4p4] {
        bottom: 30px;
        opacity: 1;
        visibility: visible;
    }

    #products .item .thumb[b-eapt9cx4p4] {
        position: relative;
    }

        #products .item .thumb .hover-content ul li[b-eapt9cx4p4] {
            display: inline;
            margin: 0px 10px;
        }

            #products .item .thumb .hover-content ul li a[b-eapt9cx4p4] {
                width: 50px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                display: inline-block;
            }

form[b-eapt9cx4p4] {
    border: 1px solid #6f42c1;
    border-radius: 20px;
}

    form div[b-eapt9cx4p4] {
        display: flex;
        justify-content: space-around;
    }

    form input[b-eapt9cx4p4], textarea[b-eapt9cx4p4] {
        border: 1px solid #fff;
        border-radius: 10px;
        padding: 5px 10px;
        margin: 6px;
        width: 250px;
        background-color: #6f42c1;
        color: #fff;
    }

        form input[b-eapt9cx4p4]::placeholder, textarea[b-eapt9cx4p4]::placeholder {
            color: #d5c8e9;
        }

    form textarea[b-eapt9cx4p4] {
        resize: none;
    }

    form button[name="create"][b-eapt9cx4p4] {
        margin: 5px;
    }
