@using warehouse_management_application.Items
@using warehouse_management_core
@using warehouse_management_core.DTO_s
@using warehouse_management_core.Entities
@using warehouse_management_application
@using warehouse_management_core.Exceptions
@using warehouse_management_infrastructure.Db
@page "/items"
@layout AppLayout
@inject NavigationManager NavigationManager
@inject ItemService ItemService
@inject HttpClient Http

<PageTitle>Items</PageTitle>


<h3>Items List</h3>

@if (items == null)
{
    <p>Loading...</p>
}
else if (!items.Any())
{
    <p>No items found.</p>
}
else
{
    <ul>
        @foreach (var item in items)
        {
            <li>@item.Name - @item.Price</li>
        }
    </ul>
}

@code {
    private List<Item> items;

    protected override async Task OnInitializedAsync()
    {
        //items = await Http.GetFromJsonAsync<List<Item>>("http://localhost:5262/api/items");

       items = await Http.GetFromJsonAsync<List<Item>>("https://localhost:7110/api/items");
    }
}