@page "/item/{itemId:guid}"
@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle>Item Details</PageTitle>

<div class="container mt-4">
    <h3 class="text-center">Item Details</h3>

    @if (item == null)
    {
        <p class="text-center">Loading...</p>
    }
    else
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">Description: @item.Description</p>
                <p class="card-text">Price: @item.Price</p>
                <p class="card-text">Expiration Date: @item.ExpirationDate.ToString("d")</p>
            </div>
        </div>
    }

    <div class="text-center mt-4">
        <button class="btn btn-primary" @onclick="BackToList">Back to Items List</button>
    </div>
</div>

@code {
    [Parameter] public Guid itemId { get; set; }
    private Item item;

    protected override async Task OnInitializedAsync()
    {
        item = await Http.GetFromJsonAsync<Item>($"https://localhost:7110/api/item/{itemId}");
    }

    private void BackToList()
    {
        NavigationManager.NavigateTo("/items");
    }
}