section {
    margin: auto;
    gap: 18px;
    text-align: center;
}

section>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    align-self: center;
    text-align: center;
}

.App {
    font-size: 20px;
}

.login {
    border-radius: 10px;
}

.form-control {
    margin: auto;
    width: 20%;
}

.login > *:focus-visible {
    outline-color: #2bbee7;
}
