@page "/map"
@layout AppLayout

<PageTitle>Map</PageTitle>

@inject IJSRuntime JS
@inject HttpClient Http

<!-- Встраиваемая карта -->
<iframe id="map"
        src="https://yandex.ru/map-widget/v1/?um=constructor%3A7ee8ce0dd2359b339a4e6664aa1263534ee785e4d0779ae021a7ed22346ee3b5&amp;source=constructor"
        frameborder="0" style="border-radius:10px;height:80vh;width:100%;"></iframe>

<!-- Кнопка для добавления местоположений -->
@* <button class="btn btn-primary add-location-btn" @onclick="AddStorageLocations">Добавить местоположения</button> *@

@code {
    private List<StorageDTO> storages = new List<StorageDTO>();

    // Метод для добавления местоположений на карту
    private async Task AddStorageLocations()
    {
        // Получаем данные всех складов с API
        storages = await Http.GetFromJsonAsync<List<StorageDTO>>("api/storages");

        // Инициализируем карту и добавляем маркеры
        foreach (var storage in storages)
        {
            await JS.InvokeVoidAsync("addMarker", storage.Latitude, storage.Longitude, storage.Name);
        }
    }

    // Класс для данных о складах
    public class StorageDTO
    {
        public string Name { get; set; }
        public double Latitude { get; set; }
        public double Longitude { get; set; }
    }
}

<!-- Добавление скрипта и инициализации карты внизу страницы -->
<script> Scripts {
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=b510bd6e-02ab-49ee-abee-67104862a094&onload=initializeMap" type="text/javascript"></script>
<script type="text/javascript">
    // Функция инициализации карты
    function initializeMap() {
        ymaps.ready(function () {
            var map = new ymaps.Map("map", {
                center: [55.76, 37.64], // Центр карты (пример, можно изменить)
                zoom: 10
            });

            // Функция для добавления маркеров
            window.addMarker = function (lat, lon, name) {
                var placemark = new ymaps.Placemark([lat, lon], {
                    balloonContent: name
                });
                map.geoObjects.add(placemark);
            };
        });
    }</script>
