@inherits LayoutComponentBase
@inject NavigationManager nav

<div class="app-grid">
    <header>
        <h1>Добро пожаловать в Warehouse App!</h1>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Main</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/Items">Items</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/Storage">Storage</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/Map">Map</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/Login">Login</NavLink>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        @Body
    </main>
    <footer>
        <figure>
            <blockquote class="blockquote">
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>

            </blockquote>
            <figcaption class="blockquote-footer">
                Be yourself... <cite title="Source Title">Source Title</cite>
            </figcaption>
        </figure>
    </footer>
</div>
@code {


}