main[b-61j6ddf4tt] {
    display: flex;
    align-self:auto;
    align-items: start;
}
.h1[b-61j6ddf4tt] {
    display: flex;
    align-self: center;
    align-items: center;
}

.func-button[b-61j6ddf4tt] {
    flex-direction: row;
    gap: 9px;
    margin: auto;
}

header[b-61j6ddf4tt] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10px;
}

.app-grid[b-61j6ddf4tt] {
    display: grid;
    grid-template-rows: 5vh 87vh 5vh;
    min-height: inherit;
}
footer[b-61j6ddf4tt] {
    padding: 1.5rem 0;
    text-align: center;
}
